<div class="container-fluid">
    <div class="row mt-5 justify-content-md-center">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" i18n="Login headline">Mollify login</h5>
                    <div class="card-text">
                        <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
                            <div class="mb-3">
                                <label for="email" class="form-label" i18n>Email address</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email">
                                <small class="form-text text-muted" id="emailHelp" i18n="Notification|A notification that the email is covered in the privacy policy">Note! Your email is covered in our privacy policy</small>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label" i18n>Password</label>
                                <input type="password" class="form-control" id="password" formControlName="password">
                            </div>
                            <button type="submit" class="btn btn-primary" i18n>Login</button>
                            <span class="text-danger ml-3" role="alert" *ngIf="error">{{error}}</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
