<header class="navbar navbar-expand-lg navbar-dark">
    <a [routerLink]="['/dashboard']" class="navbar-brand">Mollify</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['/test']" class="nav-link">Test</a>
            </li>
        </ul>
    </div>
</header>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <nav class="col-12 col-md-3 col-xl-2 sidebar">
            <div class="list-group list-group-flush">
                <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" i18n="Dashboard">
                    <fa-icon [icon]="faHome"></fa-icon>
                    <span class="flex-fill">Dashboard</span>
                </button>
                <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" i18n="Tickets">
                    <fa-icon [icon]="faClipboardList"></fa-icon>
                    <span class="flex-fill">Tickets</span>
                    <span class="badge badge-info">14</span>
                </button>
                <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" i18n="Users">
                    <fa-icon [icon]="faUser"></fa-icon>
                    <span class="flex-fill">Users</span>
                </button>
                <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" i18m="Customers">
                    <fa-icon [icon]="faBuilding"></fa-icon>
                    <span class="flex-fill">Customers</span>
                </button>
                <button class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" i18n="Settings">
                    <fa-icon [icon]="faCog"></fa-icon>
                    <span class="flex-fill">Settings</span>
                </button>
            </div>
        </nav>
        <aside class="col-xl-2 right-sidebar">
            <router-outlet name="right-sidebar"></router-outlet>
        </aside>
        <main class="col-12 col-md-9 col-xl-8" role="main">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
