header {
    border-bottom: 1px solid #004268;
    background-color: #00598d;
}

.sidebar {
    border-right: 1px solid #bcdeff;
    background-color: whitesmoke;
    & div {
        border-right: 1px solid #bcdeff;
        border-bottom: 1px solid #bcdeff;
        margin: 0 -16px 0 -15px;
    }
}

.right-sidebar {
    order: 2;
    border-left: 1px solid #ccc;
    top: 4rem;
    height: calc(100vh - 8rem);
    padding: 1.5rem 1rem;
    overflow-y: auto;
    position: sticky;
    font-size: .875rem;
    margin: 2rem 0;
}

fa-icon {
    width: 1rem;
    margin-right: 1rem;
}
